<div class="forms">
    <label for="address">Address:</label>
    <br />
    <input type="text" id="address" name="address" />
    <br />
    <br />
    <label for="city">City:</label>
    <br />
    <input type="text" id="city" name="city" />
    <br />
    <br />
    <label for="province">Province:</label>
    <br />
    <input type="text" id="province" name="province" />
    <br />
    <br />
    <label for="postalcode">Postal Code:</label>
    <br />
    <input type="text" id="postalcode" name="postalcode" />
</div>
