.forms {
    margin: 4rem;
    font-size: 20px;
}

.forms > input {
    width: 30rem;
    height: 3rem;
    padding: 0.5rem 1rem;
    font-size: 24px;
}

button {
    width: 10rem;
    height: 3rem;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}

button:hover {
    transition: all 0.3s;
    background-color: blue;
    color: white;
}

@media only screen and (max-width: 767px) {
    .forms > input {
        width: 100%;
    }
}
